body {
  /*font-family: "Pavanam", sans-serif;
  margin: 0px;
  padding: 0px;
  color:white;*/
  font-family: 'Cutive Mono', monospace;
  color: rgb(10,10,10);
  padding: 40px;
  background: rgb(250,250,250);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer{
  display: flex;
  justify-content: space-between;
  padding:0;
  align-items: center;
  /*position: absolute;*/

  /*bottom: 0;*/

}
li {
  list-style: none;
  padding:0px;
}
.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
img {
  width: 250px;
  height: 250px;
  object-fit: contain;

}
